<!-- *** TOPBAR ***-->
<div id="top">
    <div class="container">
        <div class="col-md-6 offer">
                <a href="#" class="btn btn-success btn-sm" data-animate-hover="shake"> Offer of the day</a>  <a href="#">Get flat 35% off on orders over $50!</a>
        </div>
        <div class="col-md-6" data-animate="fadeInDown">
            <ul class="menu">
                <li *ngIf="!isAuthenticated()"><a [routerLink]="['login']">Login</a>
                </li>
                <li *ngIf="isAuthenticated()" (click)="logOut()">
                      <span class="user-name">  Hi {{getUserName()}} |</span> <a><i class="fa fa-sign-out fa-fw"></i>LogOut</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- *** TOP BAR END *** -->
<!-- *** NAVBAR *** -->
<div class="navbar navbar-default yamm" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">
                <a class="navbar-brand home" [routerLink]="['home']" data-animate-hover="bounce">
                        <img src="https://www.agromaquinaria.es/marcas/logos/1160.gif" alt="Amazon logo" class="hidden-xs">
                        <img src="https://www.agromaquinaria.es/marcas/logos/1160.gif" alt="OAmazon logo" class="visible-xs"><span class="sr-only">Obaju - go to homepage</span>
                </a>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
            </div>
        </div>
        <!--/.navbar-header -->
        <div class="navbar-collapse collapse" id="navigation">
            <ul class="nav navbar-nav navbar-left">
                <li class="active">
                    <a [routerLink]="['home']">Home</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /#navbar -->
<!-- *** NAVBAR END *** -->