<!-- *** TOPBAR ***-->
<div id="top">
    <div class="container">
        <div class="col-md-6 offer">
            
        </div>
        <div class="col-md-6" data-animate="fadeInDown">
            <ul class="menu">
                <li *ngIf="!isAuthenticated()"><a [routerLink]="['login']">Log In</a></li>
                <li *ngIf="!isAuthenticated()"><a [routerLink]="['register']">Sign Up</a></li>
                <li *ngIf="isAuthenticated()">
                    <span class="user-name"> Hi <a  [routerLink]="['order']">  {{getUserName()}} </a>|</span>
                    <a (click)="logOut()"><i class="fa fa-sign-out fa-fw" ></i>Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- *** TOP BAR END *** -->
<!-- *** NAVBAR *** -->
<div class="navbar navbar-default yamm" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">
                <a class="navbar-brand home" [routerLink]="['home']" data-animate-hover="bounce">
                        <img src="https://www.agromaquinaria.es/marcas/logos/1160.gif" alt="logo" class="hidden-xs">
                        <img src="https://www.agromaquinaria.es/marcas/logos/1160.gif" alt="logo" class="visible-xs"><span class="sr-only">Obaju - go to homepage</span>
                </a>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
            </div>
        </div>
        <!--/.navbar-header -->
        <div class="navbar-collapse collapse" id="navigation">
            <ul class="nav navbar-nav navbar-left">
                <li class="active">
                    <a [routerLink]="['home']">Home</a>
                </li>
            </ul>
        </div>
        <div class="navbar-buttons">

            <div class="navbar-collapse collapse right" id="basket-overview">
                <a [routerLink]="['shopping-cart']" 
                class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">{{totalItems}} items in cart</span></a>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /#navbar -->
<!-- *** NAVBAR END *** -->