<div class="container">

  <app-customer-section> </app-customer-section>

  <div class="col-md-9" id="customer-orders">
    <div class="box">
      <h1>My orders</h1>

      <p class="lead">Your orders on one place.</p>
      <hr>

      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Order</th>
              <th>Date</th>
              <th>Total</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th># 1735</th>
              <td>22/06/2013</td>
              <td>$ 150.00</td>
              <td><span class="label label-info">Being prepared</span>
              </td>
              <td><a [routerLink]="['/order-detail', 0]" class="btn btn-primary btn-sm">View</a>
              </td>
            </tr>
            <tr>
              <th># 1735</th>
              <td>22/06/2013</td>
              <td>$ 150.00</td>
              <td><span class="label label-info">Being prepared</span>
              </td>
              <td><a [routerLink]="['/order-detail', 1]" class="btn btn-primary btn-sm">View</a>
              </td>
            </tr>
            <tr>
              <th># 1735</th>
              <td>22/06/2013</td>
              <td>$ 150.00</td>
              <td><span class="label label-success">Received</span>
              </td>
              <td><a [routerLink]="['/order-detail', 2]" class="btn btn-primary btn-sm">View</a>
              </td>
            </tr>
            <tr>
              <th># 1735</th>
              <td>22/06/2013</td>
              <td>$ 150.00</td>
              <td><span class="label label-danger">Cancelled</span>
              </td>
              <td><a [routerLink]="['/order-detail', 3]" class="btn btn-primary btn-sm">View</a>
              </td>
            </tr>
            <tr>
              <th># 1735</th>
              <td>22/06/2013</td>
              <td>$ 150.00</td>
              <td><span class="label label-warning">On hold</span>
              </td>
              <td><a [routerLink]="['/order-detail', 4]" class="btn btn-primary btn-sm">View</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->
