<div id="hot">

  <div class="container">

    <div *ngIf="products && products.length == 0" class="col-md-12">
      <div class="box"> no products.</div>
    </div>

    <div *ngIf="products && products.length > 0">

      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

      <app-product-item *ngFor="let product of products | paginate: { itemsPerPage: 10, currentPage: pagination.currentPage, totalItems: pagination.totalRecords }"
        [product]="product">
      </app-product-item>

      <div class="clear"></div>

      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

    </div>

  </div>

  <!-- /.container -->
</div>
<!-- /#hot -->
