<div class="footer">
    <div id="footer" data-animate="fadeInUp">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-md-offset-9">

                    <h4>Follow us:</h4>

                    <p class="social">
                        <a href="#" target="_blank" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                        <a href="#" target="_blank" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                    </p>

                </div>
                <!-- /.col-md-3 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /#footer -->
    <!-- *** FOOTER END *** -->
    <!-- *** COPYRIGHT ***
    _________________________________________________________ -->
    <div id="copyright">
        <div class="container">
            <div class="col-md-6">
                <p class="pull-left"> J'Hayber © {{year}}</p>
            </div>
            <div class="col-md-6">
                <p class="pull-right">
                    Template by <a href="http://www.bootstrapious.com">Responsive Templates</a> with support from <a href="http://kakusei.cz">Designové předměty</a> 
                </p>
            </div>
        </div>
    </div>
    <!-- *** COPYRIGHT END *** -->
</div> 
