<div class="container">

  <app-customer-section> </app-customer-section>

  <div class="col-md-9" id="customer-order" *ngIf="order">
    <div class="box">
      <h1>Order #{{order.id}}</h1>

      <p class="lead">was placed on <strong>{{order.orderDate}}</strong></p>

      <hr>

      <div class="table-responsive" *ngIf="order && order.orderItems.length > 0">
        <table class="table">
          <thead>
            <tr>
              <th colspan="2">Product</th>
              <th>Unit</th>
              <th>Unit price</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of order.orderItems">
              <td><img [src]="item.pictureUrl"></td>
              <td>{{item.productName}}</td>
              <td>{{item.unit}}</td>
              <td>{{item.unitPrice | currency: item.currency }}</td>
              <td>{{item.total | currency: item.currency}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="4" class="text-right">Total</th>
              <th>{{order.total | currency: order.currency}}</th>
            </tr>
          </tfoot>
        </table>

      </div>
      <!-- /.table-responsive -->
    </div>
  </div>
</div>
<!-- /.container -->
